*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

.main{
    display: flex;
    height: 700px;
    width: 100%;
    background-color: cyan;
}

.main-text-container{
    height: 100%;
    width: 50%;
    background-color: white;
}

.main-image{
    display: flex;
    height: 100%;
    width: 50%;

    background: linear-gradient(0.25turn, white, rgba(255, 255, 255, 0));
    background-image: url('../media/images/2022-10-20.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.gradient{
    height: 100%;
    width: 200px;
    background: linear-gradient(0.25turn, white, rgba(255, 255, 255, 0))
}