*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

.main{
    display: flex;
    height: 700px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.main-text-container{
    height: 100%;
    width: 70%;
    background-color: white;
    text-align: center;
    padding: 40px;
}

.main-text{
    margin-top: 10px;
}

.main-image{
    display: flex;
    height: max-content;
    width: 30%;
    padding: 40px;
    float: right;
    
}

.gradient{
    height: 100%;
    width: 200px;
    background: linear-gradient(0.25turn, white, rgba(255, 255, 255, 0))
}

.main-text-header{
    padding: 30px;
}

@media only screen and (max-width: 800px) {
    .main-image{
        display: none;
    }

    .main-text-container{
        height: 100%;
        width: 100%;
        padding: 20px;
    }
  }